node_modules
*.tsbuildinfo
/packages/*/transformer/*
!/packages/*/transformer/index.ts
!/packages/*/transformer/tsconfig.json
/output/.resources-state.json
/.resources-update.lock
/.resource-work-*/
/artifacts/resource-update.log
/artifacts/modifier-functions.json
/artifacts/modifier-functions.md
/output
/tools/cli-windows-x64/
