/packages/*/types/*.generated.d.ts
/packages/*/transformer/*
!/packages/*/transformer/index.ts
!/packages/*/transformer/tsconfig.json
*.md
/output/npc/
/output/soundevents/
/output/.resources-state.json
/.resource-work-*/
/temp/
